body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Product Sans';
  src: url('../node_modules/product-sans-webfont/fonts/GoogleSans-Regular.ttf') format('ttf'),
  url('../node_modules/product-sans-webfont/fonts/GoogleSans-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Product Sans', sans-serif;
}
